.sidebar {
    height: 100%;
    outline: purple;
    outline-style: solid;
    max-height: 90%;
}

ul {
    list-style: none;
}


li a,
li a:visited {
    color: inherit;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
}

li:hover {
    margin: auto;
    background-color: purple;
    color: black;
}

.not-selectable-pointer {
    user-select: none;
    cursor: pointer;
}