/* .element::-webkit-scrollbar { width: 0 !important }
.element { -ms-overflow-style: none; }
.element { overflow: -moz-scrollbars-none; } */

.MuiList-root {
    background-color: 'black';
}

.MuiPaper-root {
    background-color: 'black';
}

.MuiMenu-list {
    background-color: 'black';
}

.MuiMenu-paper {
    background-color: 'black';
}