.element::-webkit-scrollbar {
    width: 0 !important
}

.element {
    -ms-overflow-style: none;
}

.element {
    overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
    display: none;
}

uiButton:hover {
    margin: auto;
    background-color: purple;
    color: black;
}

.quest-notselected {
    margin: auto;
    background-color: black;
    color: purple;
}
.quest-notselected:hover {
    margin: auto;
    background-color: purple;
    color: black;
}