.dungeon-select {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.difficulty {
    all: unset;
    box-sizing: border-box;
    color: purple;
    font-size: xx-large;
    text-align: center;
    border: purple solid 2px;
    margin: 4px;
}

.difficulty:hover {
    background-color: purple;
    color: black;
}


.levels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 33%;
    height: 100%;
    transition: height 1s ease-in-out;
    transform-origin: center top;
    overflow: auto;
}

.levels.hidden {
    height: 0;
}

.levels::-webkit-scrollbar {
    display: none;
}

.active {
    background-color: purple;
    color: black;
}

.level {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    font-size: x-large;
    text-align: center;
    color: purple;
}

.level:hover {
    background-color: purple;
    color: black;
}

.level-text {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    font-size: x-large;
    text-align: center;
    color: purple;
}