.dungeon-body {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.bottom-bar {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.choice-button {
    all: unset;
    background-color: purple;
    color: black;
    font-size: xx-large;
}

.dungeon-map {
    box-sizing: border-box;
    max-height: 80%;
    max-width: 100%;
    margin: auto;
    display: grid;
    outline:black solid thick;
    flex-grow: 1;
}

.dungeon-node {
    aspect-ratio: 1;
}