.dungeon-body {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.bottom-bar {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.choice-button {
    background-color: purple;
    color: black;
    font-size: xx-large;
}

.dungeon-map {
    box-sizing: border-box;
    margin: auto;
    height:fit-content;
    width: fit-content;
    aspect-ratio: 1;
    outline: purple solid thick;
    flex-grow: 1;
    display: grid;
    grid-template: repeat(5, auto) / repeat(5, auto);
}

.dungeon-node {
    aspect-ratio: 1;
}