.dungeon-body {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: center;

}

.choice-button {
    background-color: purple;
    color: black;
    font-size: xx-large;
}

.map {
    outline: pink solid thick;
    flex-grow: 1;
    display: grid;
    grid-template: repeat(5, auto) / repeat(5, auto);
}

.dungeon-node {
    display: flex;
}